* {
    margin: 0px;
    padding: 0px;
}

/* body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #7bc4e6;
    color: #333;
} */

.header .img {
    display: flex;
    justify-content: end;
}

.arrow1 {
    width: 80px;
}

.heading1 {
    display: flex;
    justify-content: center;
}

.heading1 span {
    background-color: #cb6ce6;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.header .para1 {
    width: 50vw;
    margin: 20px auto;
    text-align: center;

}

.border {
    text-align: center;
    color: #cb6ce6;

}

.heading {
    margin-bottom: 25px;
}




/* h1,
h2,
h3 {
    color: #007bff;
} */

p {
    line-height: 1.6;
}


.team-members {
    margin-left: 20px;
    list-style: none;
    display: flex;
}

.team-member {
    align-items: center;
    margin-bottom: 10px;
    margin: auto;
    text-align: center;
}

.team-member p {
    text-align: center;

}

.team-member img {
    width: 100px;
    height: 100px;
    border: 1px solid #cb6ce6;
    padding: 2px;
    border-radius: 50%;

}

.team-section {
    margin: 0vw 10vw;
}

i {
    color: #cb6ce6;
}

ul {
    margin: 30px 0px;
}

.dev {
    display: flex;
}

.arrow2 {
    width: 80px
}

.heading3 {
    margin: auto;
}

.heading3 h2 {
    margin-left: -3vw;
}

.arrow4 {
    width: 80px
}

.heading4 {
    margin: auto;

}

.heading4 h2 {
    margin-right: -8vw;
}